# Database
POSTGRES_CONNECTION_URL="postgresql://postgres:1234@localhost/postgres"

# Auth
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=15

# GitHub App
GITHUB_APP_ID=2817486
GITHUB_PRIVATE_KEY_PATH=./delta-docs-app.2026-02-08.private-key.pem
GITHUB_CLIENT_ID=Iv23lioUi9Q2S1b4YUHF
GITHUB_CLIENT_SECRET=70e7147ac4c305788dc14231c8e333c225706194
GITHUB_WEBHOOK_SECRET=my_super_secret_webhook_key

# RQ Config
REDIS_URL="redis://localhost:6379/0"
NUM_WORKERS=2

FRONTEND_URL="http://localhost:5173"

REPOS_BASE_PATH="/path/to/delta.backend/repos"

# LLM Config
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
LLM_MODEL="gemini-2.5-flash"
